header {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
}

header img {
    margin-right: 9rem;
}

header a {
    font-size: 1.6rem;
    color: #111111;
    margin-right: 2rem;
}
header a + a {
    margin-right: 0;
}